@model IEnumerable<Intervencije.Models.Intervencija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkAkcija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkPlaza)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkAkcija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkPlaza)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
